.navbar {
 max-width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: teal;
 padding: .2rem 1rem;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
 font-size: 28px;
 color:rgb(196, 243, 243);
 font-weight: 600;
 letter-spacing: -1px;
}

.navbar ul {
 list-style: none;
 display: flex;
 align-items: center;
}

.navbar ul li {
 margin-left: 1.3rem;
 font-size: 16px;
 color: white;
 font-weight: 400;
 letter-spacing: 2px;
}

.navbar ul li:hover {
 text-decoration: underline;
}
